<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>AgencyTrackerApp</ion-title>
  </ion-toolbar>
</ion-header>


<div id="container">
  <ion-img id="img" src="https://www.emploi.cm/sites/emploi.cm/files/styles/medium/public/logo/maviance_logo_-_copie.png?itok=sRno-Ty6"></ion-img>
  <h1>Contact</h1>
  <p>DOUALA CAMEROUN
    <br>Boite postal: 8520
    <br>Email: contact@cm.maviance.com


  </p>
</div>
